.gallery-container {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0 40px 80px;
    box-sizing: border-box; /* Ensure padding is included in total width */
  }
  
  .slide {
    position: relative;
    text-align: center;git 
    max-width: 95%;
  }
  
  .slide-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
    width: 60px; /* Set width for circle */
    height: 60px; /* Set height for circle */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-50%) scale(1.1);
  }
  
  .next {
    right: -40px;
  }
  
  .prev {
    left: -40px;
  }
  